/* Your Website Styles */
html {


}

body {
	background-image: url(../img/paper.png);
}

span {

	float: right;
	
}

span > a {
	font-family: 'Oswald', sans-serif;
	float: right;
	margin-right: 2%;
	margin-top: 1.5%;
	text-decoration: none;
	color: #033a5d;
	font-size: 1.5em;
}
/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
} */
#home  {
	text-align: center;
	padding: 10px;
}



p {
line-height: 1.5rem;
text-indent: 20px;
font-family: 'Archivo Narrow', sans-serif;
}

.education {
	white-space: pre;
 }


.school {
	text-indent: 50px;
	font-style: italic;
} 



a:hover {
	font-family: 'Carrois Gothic SC', sans-serif;
	background: rgba(45, 45, 45, 0.5);

}


	nav a:hover {
	background: url("../img/home.png") no-repeat left  ;
	margin-right: 10px;
	color: rgba(255, 255, 255, .1);
	}

	nav a {
		text-decoration: none;
		color: #99050e;
	}

a{
	font-family: 'Carrois Gothic SC', sans-serif;
}








